<div class="orders-container">
    <h2>{{ isClientPage ? 'Meus Pedidos' : 'Lista de Pedidos' }}</h2>

    <button mat-raised-button color="primary" (click)="goToCreateOrder()" *ngIf="isClientPage">Novo Pedido</button>

    <div *ngIf="isLoading">
        Carregando pedidos...
    </div>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <table *ngIf="!isLoading && orders.length > 0">
        <thead>
            <tr>
                <th *ngIf="showUuidColumn">ID do Pedido</th>
                <th>Número do Pedido</th>
                <th>Data do Pedido</th>
                <th>Endereço de Entrega</th>
                <th>Endereço de Cobrança</th>
                <th>Método de Pagamento</th>
                <th>Status</th>
                <th>Valor Total</th>
                <th>Exibir</th>
                <th *ngIf="canManageOrder()">Ações</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let order of orders">

                <tr>
                    <td *ngIf="showUuidColumn">{{ order.uuid }}</td>
                    <td> {{ order.orderNumber }}</td>
                    <td>{{ order.orderDate | date: 'shortDate' }}</td>
                    <td>{{ order.shippingAddress }}</td>
                    <td>{{ order.billingAddress }}</td>
                    <td>{{ getPaymentMethodText(order.paymentMethod) }}</td>
                    <td>{{ getOrderStatusText(order.status) }}</td>
                    <td>{{ order.totalAmount| currency:'BRL' }}</td>
                    <td><button (click)="toggleDetails(order)">Detalhes</button> </td>
                    <td *ngIf="canManageOrder()">
                        <button *ngIf="order.status === 0" (click)="updateOrderStatus(order.uuid, 1)">Aprovar</button>
                        <button *ngIf="order.status === 0 " (click)="updateOrderStatus(order.uuid, 2)">Cancelar</button>

                    </td>

                </tr>
                <tr *ngIf="order.showDetails">
                    <td colspan="8">
                        <div *ngIf="order.orderItems && order.orderItems.length > 0; else noItems">
                            <ul>
                                <li *ngFor="let item of order.orderItems">
                                    Produto: {{ item.productName }} - Qtd: {{ item.quantity }} - Preço: {{ item.unitPrice | currency:'BRL' }} - Total: {{ item.totalPrice | currency:'BRL' }}
                                </li>
                            </ul>
                        </div>
                        <ng-template #noItems>Nenhum item neste pedido.</ng-template>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
   

    <div *ngIf="!isLoading && orders.length === 0 && !errorMessage">
        Nenhum pedido encontrado.
    </div>

    <button mat-button (click)="goBack()">Voltar</button>
</div>
