<h2>Lista de Produtos</h2>

<button mat-raised-button color="primary" (click)="goToCreateProduct()">Cadastrar Produto</button>
<div *ngIf="isLoading">
    Carregando produtos...
</div>

<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>

<table mat-table [dataSource]="products" class="mat-elevation-z8" *ngIf="products.length > 0">
    <ng-container *ngIf="showUuidColumn" matColumnDef="uuid">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let product">{{ product.uuid }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let product">{{ product.description }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Preço</th>
        <td mat-cell *matCellDef="let product">{{ product.price }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let product">{{ product.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let product">{{ product.category }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let product">
            <button mat-button color="primary" (click)="goToEditProduct(product.uuid)">Editar </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="!isLoading && products.length === 0 && !errorMessage">
    Nenhum produto encontrado.
</div>
