/* You can add global styles to this file, and also import other style files */
/* Estilos gerais para toda a aplicação */
body {
  font-family: 'Roboto', sans-serif; /* Fonte padrão */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Cor de fundo geral */
  color: #333; /* Cor do texto padrão */
}
.main-wrapper {
  width: 90%;
  margin: 0 auto;
}

h2 {
  color: #3f51b5; /* Cor primária do Angular Material */
  margin-bottom: 15px;
  border-bottom: 2px solid #3f51b5;
  padding-bottom: 5px;
}

.error-message {
  color: #f44336; /* Cor de erro do Angular Material */
  margin-top: 10px;
  font-weight: bold;
}

/* Estilos para botões Angular Material */
.mat-raised-button.mat-primary {
  background-color: #3f51b5;
  color: white;
  margin-right: 10px;
}

.mat-button {
  margin-right: 10px;
}

.mat-icon-button {
  margin-left: 5px;
}

/* Estilos para tabelas Angular Material */
.mat-elevation-z8 {
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,.2); /* Sombra mais suave */
  border-radius: 4px;
  overflow: hidden; /* Garante que a borda arredondada funcione */
  background-color: white;
}

.mat-table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
  color: #3f51b5;
}

.mat-cell {
  border-bottom: 1px solid #ddd;
}

.mat-row:last-child .mat-cell {
  border-bottom: none;
}

/* Estilos para formulários Angular Material */
/*form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

*/
